* {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  height: 1600px;
  background-color: darkgray;
}

.grid-cell {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(128, 128, 128, .5);
}