.splash {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  background-image: 
    linear-gradient(to bottom, rgba(50, 50, 50, .3), rgba(50, 50, 50, .3)),
    url(../../assets/images/splash-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 20rem;
    margin-top: 5rem;
  }

  &__login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: lightgray;
    padding: 0 1rem;
    border: 2px solid black;
    margin-top: 8rem;
  }

  &__label {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
  }


  &__input {
    height: 2rem;
    padding: 0 1rem;
  }

  &__button {
    height: 1.5rem;
    width: 5rem;
    margin: 1rem 0;
    cursor: pointer;
  }

  &__link-container {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    padding: .5rem;
  }

  &__link {
    all: unset;
    cursor: pointer;
  }
}