.splash {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  background-image: 
    linear-gradient(to bottom, rgba(50, 50, 50, .3), rgba(50, 50, 50, .3)),
    url(../../assets/images/splash-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 80%;
    margin-top: 5rem;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: lightgray;
    padding: 0 1rem;
    border: 2px solid black;
    margin-top: 8rem;
  }

  &__title-text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__image {
    height: 3rem;
  }

  &__button {
    width: fit-content;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}