.menu {
  
  &__button-container {
    display: flex;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    margin-left: 1rem;
    cursor: pointer;

    &:active {
      box-shadow: inset 0px 0px 10px 4px #999;
    }
  }

  &__button-image {
    height: 3rem;
  }
}